.App {
  text-align: center;
  background: #efefef;
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  background: #a4cced;
  border: 1px solid cornflowerblue;
  padding: 8px;
  border-radius: 7px;
  outline: none;
}

button:hover {
  background: #bfdfff;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
