.Todo-manager {
  text-align: center;
  padding-top:15px;
}

.progress {
  position: absolute;
  right: 0;
}

.new-todo{
  font-size: 1.4em;
  padding: 7px;
  border-radius: 10px;
  width: 400px;
}

.todo-list{
  text-align:left;
  width: 400px;
  margin: 20px auto;
  list-style: none;

}

.todo-list li {
  padding: 6px;
}

.todo-list [type=checkbox] {
  margin-right: 8px;
}



